.image{
    height: 20px;
    width: 20px;
}
.search_icon{
    height: 20px;
    width: 20px;
    padding-left: 200px;
   
}
.box{
    border: 1px solid black;
    width: 500px;
    height: 40px;
   
}
.content{
    display: flex;
    padding-bottom: 20px;
}
.search{
    background-color: rgb(201, 201, 224);
    height: 40px;
    width: 100px;
    border-radius: 5px;
}